<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Кабинет пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
    <h1>Кабинет пользователя</h1>
    <p>Привет, <span sec:authentication="name" /></p>
    <form method="post" th:action="@{/logout}">
        <button type="submit">Выйти</button>
    </form>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>